
.idea/shelf/Uncommitted_changes_before_Update_at_2020__11__14__16_16__Default_Changelist_.xml
.idea/shelf/Uncommitted_changes_before_Update_at_2020__11__14__16_16_[Default_Changelist]/shelved.patch
.idea/shelf/Uncommitted_changes_before_Update_at_2020__11__14__16_16_[Default_Changelist]/shelved.patch
.idea/shelf/Uncommitted_changes_before_Update_at_2020__11__14__16_16_[Default_Changelist]/shelved.patch
.idea/shelf/Uncommitted_changes_before_Update_at_2020__11__14__16_16_[Default_Changelist]/shelved.patch
